<div class="row">
  <div class="big-space"></div>
</div>

<div class="row">
  <div class="small-8 small-centered columns detail-wrap">
    <div class="row">
      <div class="small-6 columns">
        <h2>Results:</h2>
      </div>
      <hr>
    </div>
    <div class="row">

      <% @sorted_coffee_shops.each do |shop| %>
      <div class="small-9 columns">
        <a href="<%= coffee_shop_path(shop) %>"><h4><%= shop.name %> (<%= shop.rating %>)</h4></a>
        <p><%= shop.address %></p>
        <p><span title="Coffee Quality Rating"><i class="fa fa-coffee"></i> - <%= (shop.coffee_rating * 10).to_i %></span> &nbsp;
         <span title="WiFi Signal Quality Rating"><i class="fa fa-signal"></i> - <%= (shop.wifi_rating * 10).to_i %></span> &nbsp;
         <span title="Workspace Availability Rating"><i class="fa fa-desktop"></i> - <%= (shop.workspace_rating * 10).to_i %></span> &nbsp;
         <span title="Power Outlet Availability Rating"><i class="fa fa-power-off"> </i> - <%= (shop.outlet_rating * 10).to_i %></span></p>
       </div>
       <div class="small-3 columns">
        <div class="avatar-wrap">
          <img class="result-image" src="<%= shop.avatar %>">
        </div>
      </div>
      <hr>
      <% end %>

    </div>
  </div>
  <div class="row"><div class="big-space"></div></div>
</div>
