<!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' /> -->

<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

<div class="row">
  <div class="big-space"></div>
</div>

<div class="row">
  <div class="small-8 small-centered columns detail-wrap">
    <div class="small-8 columns">
      <h1 class="title"><%= @coffee_shop.name %></h1>
      <p class='show-address'><%= @coffee_shop.address %> | <%= @coffee_shop.phone_number %> | <a href="<%= @coffee_shop.url %>"><%= @coffee_shop.url %></a></p>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div class="circle">
          <p class="circle-rating"><%= @coffee_shop.rating %></p>
        </div>
      </div>
    </div>
    <div class="small-6 columns ratings">
      <p><span title="Coffee Quality Rating"><%= image_tag 'coffee_icon.png', width: '20px' %> - <%= (@coffee_shop.coffee_rating * 10).to_i %></span> &nbsp;
         <span title="WiFi Signal Quality Rating"><%= image_tag 'wifi_icon.png', width: '20px' %> - <%= (@coffee_shop.wifi_rating * 10).to_i %></span> &nbsp;
         <span title="Workspace Availability Rating"><%= image_tag 'workspace_icon.png', width: '20px' %> - <%= (@coffee_shop.workspace_rating * 10).to_i %></span> &nbsp;
         <span title="Power Outlet Availability Rating"><%= image_tag 'outlet_icon.png', width: '20px' %> - <%= (@coffee_shop.outlet_rating * 10).to_i %></span></p>
    </div>
    <div class="row">
      <div class="small-4 small-offset-1 columns rate-button">
        <% if user_signed_in? %>
        <a href="#" data-reveal-id='new-survey' data-reveal-ajax="<%= new_coffee_shop_reviews_path(@coffee_shop) %>" class="button tiny radius">Quick survey</a>
        <% else %>
        <a href="#" data-reveal-id='new-survey' class="button tiny radius">Quick survey</a>
        <% end %>
        <div id="new-survey" class="reveal-modal" data-reveal>
          <h3>Rate Yo' Coffee!</h3>
          <a href="<%= user_omniauth_authorize_path(:facebook) %>"><%= image_tag "facebooksignin.png", class: "fbook-signin" %></a>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 columns picture-gallery">
        <ul class="clearing-thumbs clearing-feature center" data-clearing>
          <% @picture_reviews_toshow.each do |review_with_picture| %>
            <li class="clearing-featured-img"><a href="<%= review_with_picture.picture %>"><div class="show-picture-wrap"><img class="show-picture" src="<%= review_with_picture.picture %>"></div></a></li>
          <% end %>
          <% unless @picture_reviews_tohide == nil %>
            <% @picture_reviews_tohide.each do |review_with_picture| %>
              <li><a href="<%= review_with_picture.picture %>"><div class="show-picture-wrap"><img class="show-picture" src="<%= review_with_picture.picture %>"></div></a></li>
            <% end %>
          <% end %>
          <% if @picture_reviews_toshow.count >= 4 %>
            <% @picture_tips_to_hide.each do |tips_with_picture| %>
              <li><a href="<%= tips_with_picture.picture.url %>"><div class="show-picture-wrap"><img class="show-picture" src="<%= tips_with_picture.picture.url %>"></div></a></li>
            <% end %>
          <% else %>
            <% @picture_tips_to_show.each do |tip_pic_to_show| %>
              <li class="clearing-featured-img"><a href="<%= tip_pic_to_show.picture.url %>"><div class="show-picture-wrap"><img class="show-picture" src="<%= tip_pic_to_show.picture.url %>"></div></a></li>
            <% end %>
            <% @picture_tips_to_hide.each do |tip_pic_to_hide| %>
              <li><a href="<%= tip_pic_to_hide.picture.url %>"><div class="show-picture-wrap"><img class="show-picture" src="<%= tip_pic_to_hide.picture.url %>"></div></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-8 small-centered columns tips">
        <div class="small-6 columns">
          <h6 class="tip-title">Tips:</h6>
        </div>
        <div class="small-4 small-offset-2 columns tip-button">
          <a href="#" data-reveal-id='new-tip' data-reveal-ajax="<%= new_coffee_shop_tip_path(@coffee_shop) %>" class="button tiny radius">Leave a Tip</a>
          <div id="new-tip" class="reveal-modal medium" data-reveal>
            <h3>Leave a Tip!</h3>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
        <hr>
        <% @tips.each do |tip| %>
        <p class="tip-comment"><%= tip.comment %></p>
        <div class="small-2 columns">
          <div class="review-avatar-wrap"><img class="review-avatar" src="<%= tip.user.image %>"></div>
        </div>
        <div class="small-7 columns">
          <p class="tip-username"><%= tip.user.name %> | <%= tip.created_at.strftime "%B %e, %Y" %></p>
        </div>
        <hr>
        <% end %>


        <% @coffee_shop.foursquare_reviews.each do |foursquare_review| %>
        <p class="tip-comment"><%= foursquare_review.comment %></p>
        <div class="small-2 columns">
          <div class="review-avatar-wrap"><img class="review-avatar" src="<%= foursquare_review.user_pic %>"></div>
        </div>
        <div class="small-7 columns">
          <p class="tip-username"><%= foursquare_review.username %> | <%= foursquare_review.created_at.strftime "%B %e, %Y" %></p>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-8 small-centered columns">
        <style> #map { position:relative; top:25px; bottom:0; width:100%; height:400px; } </style>
        <div id="map" lon-coordinate='<%= @coffee_shop.lon %>' lat-coordinate="<%= @coffee_shop.lat %>" shop-name="<%= @coffee_shop.name %>" shop-address='<%= @coffee_shop.address %>'></div>

        <script>
        var map = L.mapbox.map('map', 'jasonleibowitz.i7i19hk9')
        .setView([<%= @coffee_shop.lat %>, <%= @coffee_shop.lon %>], 15);

        L.mapbox.featureLayer({
              // this feature is in the GeoJSON format: see geojson.org
              // for the full specification
              type: 'Feature',
              geometry: {
                type: 'Point',
                  // coordinates here are in longitude, latitude order because
                  // x, y is the standard for GeoJSON and many formats
                  coordinates: [<%= @coffee_shop.lon %>, <%= @coffee_shop.lat %>]
                },
                properties: {
                  title: '<%= @coffee_shop.name %>',
                  description: '<%= @coffee_shop.address %>',
                  // one can customize markers by adding simplestyle properties
                  // http://mapbox.com/developers/simplestyle/
                  'marker-size': 'large',
                  'marker-color': '#008CBA',
                  'marker-symbol': 'cafe'
                }
              }).addTo(map);
        </script>

      </div>
    </div>
    <div class="row">
      <div class="big-space"></div>
    </div>
  </div>
</div>
