<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Moker" %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Moker</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if current_user %>
        <li class="active">
          <a href="#">
            <div class="nav-avatar-wrap">
              <img class="nav-avatar" src="<%= current_user.image %>">
            </div>
            <%= current_user.name %>
          </a>
        </li>
        <% else %>
          <li>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>"><%= image_tag "facebooksignin.png", class: "fbook-signin" %></a>
          </li>
        <% end %>
        <li class="has-dropdown">
          <a href="#">Menu</a>
          <ul class="dropdown">
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="<%= root_path %>">Search</a></li>
      </ul>
    </section>
  </nav>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
